.pageWrapper {
  margin-top: 50px;
  box-sizing: border-box;
  background-color: var(--first-color);
  background-image: url(../../assets/bg-img-2.png);
  background-repeat: no-repeat;
  background-position: 50% 90%;
  overflow: hidden;
  background-size: 500px;
  margin: 0 auto;
  min-height: 90vh;
  padding-top: 100px;
}

@media screen and (min-width: 768px) {
  .pageWrapper {
    background-image: url(../../assets/bg-img-2.png),
      url(../../assets/bg-img-3.png);
    background-position: 95% 90%, -5% 70%;
    background-size: 500px, 600px;
  }
}

.title {
  text-align: center;
  font-size: 24px;
  margin: 10px;
  color: var(--fourth-color);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
  }
}

.contactListContainer {
  display: flex;
  justify-content: center;
}
