:root {
  --first-color: #e3ccb2;
  --second-color: #f9ec7e;
  --third-color: #e26274;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  width: 200px;
  gap: 10px;
  border: 2px solid var(--first-color);
  background-color: var(--third-color);
  border-radius: 8px;
  border: none;
  box-shadow: 0 5px 15px rgba(95, 80, 80, 0.3);
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 15px;
  color: var(--first-color);
}

.input {
  background-color: var(--third-color);
  border: 2px solid var(--first-color);
  color: var(--first-color);
  outline: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  transition: border 250ms ease;
}

.input:active,
.input:hover,
.input:focus {
  border: 2px solid var(--second-color);
}

.input::placeholder {
  color: var(--first-color);
}

.btn {
  width: 150px;
  margin: 0 auto;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: var(--second-color);
  color: var(--third-color);
  transition: transform 250ms ease, opacity 250ms ease, box-shadow 250ms ease,
    background-color 250ms ease;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: 0;
}

.btn:hover,
.btn:active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: var(--second-color);
  opacity: 0.6;
}

.text {
  color: var(--first-color);
  margin: 0 auto;
}

.span {
  color: var(--second-color);
  margin-left: 5px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .form {
    width: 400px;
  }

  .label {
    font-size: 20px;
  }

  .input {
    font-size: 15px;
  }

  .btn {
    width: 200px;
    font-size: 20px;
  }
}
