:root {
  --first-color: #f9f7e8;
  --second-color: #ed4729;
  --third-color: #618264;
  --fourth-color: #a28b55;
}

.contactText {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .contactText {
    font-size: 18px;
  }
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

@media screen and (min-width: 768px) {
  .btnWrapper {
    gap: 5px;
  }
}

.contactBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 4px;
  color: var(--third-color);
  cursor: pointer;
  background-color: transparent;
  font-size: 10px;
  transition: 0.5s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contactBtn:active {
  transform: scale(0.95);
}

.contactBtn:focus {
  outline: 0;
}

.contactBtn:hover,
.contactBtn:active {
  background-color: var(--third-color);
  color: var(--first-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
  .contactBtn {
    padding: 4px;
    font-size: 15px;
  }
}

.svg {
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.textBtn {
  margin: 0;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .textBtn {
    font-size: 15px;
  }
}
