.nav {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 25px;
}

.link {
  color: #f9f7e8;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
}

.link:hover,
.link:focus {
  color: #a28b55;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.active {
  color: #a28b55;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .nav {
    margin-right: 40px;

    gap: 24px;
  }
  .link {
    font-size: 25px;
  }
}
