.nav {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 40px;
}

.link {
  color: #e3ccb2;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
}

.active {
  color: #f9ec7e;
}
