:root {
  --first-color: #e3ccb2;
  --second-color: #f9ec7e;
  --third-color: #e26274;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 40px;
  color: var(--first-color);
}

.text {
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
}

.btn {
  width: 100px;
  padding: 5px;
  font-size: 20px;
  border: 2px solid var(--second-color);
  background-color: var(--third-color);
  color: var(--second-color);
  transition: transform 250ms ease, color 250ms ease, box-shadow 250ms ease,
    background-color 250ms ease;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: 0;
}

.btn:hover,
.btn:active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: var(--second-color);
  color: var(--third-color);
}
